@font-face {
    font-family: 'iranSans';
    src: url('./../public/assets/fonts/fonts/woff2/IRANSansWeb.woff2') format('woff2'),
        url('./../public/assets/fonts/fonts/woff/IRANSansWeb.woff') format('woff'),
        url('./../public/assets/fonts/fonts/ttf/IRANSansWeb.ttf') format('ttf');
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-display: auto;
}

:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3575DD;
    --toastify-color-success: #79FF44;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #D73D3D;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);

    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);

    --toastify-toast-width: 370px;
    --toastify-toast-background: transparent;
    --toastify-toast-min-height: 60px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: 'IranSans';
    --toastify-z-index: 9999;

    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;

    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

div::-webkit-scrollbar {
    display: block;
    width: 3px;
    height: fit-content;
    border-radius: 15px;
    background-color: #1E1E1E;
    position: absolute;
    left: 0;
    z-index: 100;
}

div::-webkit-scrollbar-thumb {
    background: #6600ce;
}

div::-webkit-scrollbar-thumb:hover {
    background: #6600ce;
}